body {
    background-color: darkgray;
}

h1 {
    color: yellow;
    text-align: center;
}

img {
    display: flex;
    margin: auto;
}

ul {
    list-style-type: square;
}

h3 {
    color: pink;
    text-align: center;
}

hr {
    width: 50%
}

p {
    color: red;
    font-size: 20px;
}
